In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDRegressor
from scipy import stats
import matplotlib.pyplot as plt

In [7]:
train = pd.read_csv("Data/train.csv")
test = pd.read_csv("Data/test.csv")

train["Gender"] = train["Gender"].replace(["M", "F"], [0, 1])
train["Age"] = train["Age"].replace(["0-17", "18-25", "26-35", "36-45", "46-50", "51-55", "55+"], [0, 1, 2, 3, 4, 5, 6])
train["City_Category"] = train["City_Category"].replace(["A", "B", "C"], [0, 1, 2])
train["Stay_In_Current_City_Years"] = train["Stay_In_Current_City_Years"].replace(["0", "1", "2", "3", "4+"], [0, 1, 2, 3, 4])
train["Product_Category_2"] = train["Product_Category_2"].replace(np.nan, 0)
train["Product_Category_3"] = train["Product_Category_3"].replace(np.nan, 0)

test["Gender"] = train["Gender"].replace(["M", "F"], [0, 1])
test["Age"] = train["Age"].replace(["0-17", "18-25", "26-35", "36-45", "46-50", "51-55", "55+"], [0, 1, 2, 3, 4, 5, 6])
test["City_Category"] = train["City_Category"].replace(["A", "B", "C"], [0, 1, 2])
test["Stay_In_Current_City_Years"] = train["Stay_In_Current_City_Years"].replace(["0", "1", "2", "3", "4+"], [0, 1, 2, 3, 4])
test["Product_Category_2"] = train["Product_Category_2"].replace(np.nan, 0)
test["Product_Category_3"] = train["Product_Category_3"].replace(np.nan, 0)

filt = np.abs(stats.zscore(train["Purchase"])) < 0.7
train = train[filt]

x_train = train.drop(["User_ID"], axis = 1).drop(["Product_ID"], axis = 1).drop(["Purchase"], axis = 1)
y_train = train["Purchase"]
x_test = test.drop(["User_ID"], axis = 1).drop(["Product_ID"], axis = 1)

train.sort_values(by=["Purchase"])

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
160147,1000777,P00057542,0,1,19,1,1,0,3,4.0,5.0,5748
522689,1002496,P00130442,0,5,1,1,1,0,3,5.0,0.0,5748
390710,1000117,P00190042,0,2,17,0,2,1,3,4.0,5.0,5748
490622,1003601,P00306242,1,3,3,1,0,0,3,4.0,0.0,5748
339014,1004150,P00249642,0,2,0,1,3,0,3,5.0,0.0,5749
...,...,...,...,...,...,...,...,...,...,...,...,...
405737,1002419,P00288642,0,2,0,1,3,1,16,0.0,0.0,12780
80887,1000468,P00345842,1,0,10,1,1,0,2,8.0,14.0,12780
368270,1002752,P00024042,0,2,15,0,2,0,7,0.0,0.0,12780
523558,1002670,P00111042,0,3,6,1,1,0,15,0.0,0.0,12780
489120,1003410,P00183042,0,3,1,1,3,1,15,16.0,0.0,12780

In [3]:
sgdr = SGDRegressor()
print(sgdr)

sgdr.fit(x_train, y_train)
score = sgdr.score(x_train, y_train)
print("R-squared:", score)

SGDRegressor()
R-squared: 0.09745106660003355

In [4]:
y_pred = sgdr.predict(x_test)
y_pred

array([ 8382.01234967,  9234.63295385,  7503.93403113, ...,
       10017.95394165,  6831.09114613,  8081.44070199])

In [5]:
pred = pd.DataFrame({"Purchase": y_pred, "User_ID": test["User_ID"], "Product_ID": test["Product_ID"]})
pred

            Purchase  User_ID Product_ID
0        8382.012350  1000004  P00128942
1        9234.632954  1000009  P00113442
2        7503.934031  1000010  P00288442
3        7506.973388  1000010  P00145342
4        8582.328084  1000011  P00053842
...              ...      ...        ...
233594   7390.364073  1006036  P00118942
233595   8103.274088  1006036  P00254642
233596  10017.953942  1006036  P00031842
233597   6831.091146  1006037  P00124742
233598   8081.440702  1006039  P00316642

[233599 rows x 3 columns]

In [6]:
pred.to_csv("submit SGDRegressor Filt 1.2.csv", index=False)